body {
    background-color: #FEF9EF;
    text-align: center;
    margin: 0;
    color:#40514e;
    font-family: 'Merriweather', serif;
}

h1 {
    line-height: 2;
    color:#AC3F21;
    font-size: 5.62rem;
    margin-top: 25px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    color:#AC3F21;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3 {
    color:#AC3F21;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color:#FCECDD;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    padding-top: 25px;
}

.intro {
    color: #AC3F21;
    font-size:1.5rem;
}

.bottom-cloud {

    position: absolute;
    left: 150px;
    top: 600px;
}

.mountain-img {
    max-width: 100%;
}

.cloud-above-sun {
    position: absolute;
    right: 200px;
    padding-top: 150px;
}

.top-header {
    border-style: ridge none none;
    width: 100%;
    margin: auto;
}

.middle-container {
    padding-top: 100px;
}

.hi-intro {
    width: 30%;
    margin: auto;
}

hr {
    padding-top: 40px;
    border-style: dotted none none;
    border-color:#EAF6F6;
    border-width: 10px;
    height: 0px;
    width: 5%;
}

.skill-row {
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
}

.negotiation {
    max-width: 25%;
    float: left;
    margin-right: 30px;
}

.business {
    max-width: 25%;
    float:right;
    margin-left: 30px;
}

p {
    line-height: 2;
}

.contact-me {
    color:#AC3F21;
    padding-bottom: 80px;
}


.btn {
    background: #AC3F21;
    background-image: -webkit-linear-gradient(top, #AC3F21, #CC9544);
    background-image: -moz-linear-gradient(top, #AC3F21, #CC9544);
    background-image: -ms-linear-gradient(top, #AC3F21, #CC9544);
    background-image: -o-linear-gradient(top, #AC3F21, #CC9544);
    background-image: linear-gradient(to bottom, #AC3F21, #CC9544);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Merriweather', serif;
    color: #F7F7F7;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #FCECDD;
    background-image: -webkit-linear-gradient(top, #FCECDD, #CC9544);
    background-image: -moz-linear-gradient(top, #FCECDD, #CC9544);
    background-image: -ms-linear-gradient(top, #FCECDD, #CC9544);
    background-image: -o-linear-gradient(top, #FCECDD, #CC9544);
    background-image: linear-gradient(to bottom, #FCECDD, #CC9544);
    text-decoration: none;
}

a {
    text-decoration: none;
}
  
a:hover {
    color: #D67D3E;
}

.bottom-container {
    background-color:#FCECDD;
    padding-top: 40px;
    padding-bottom: 40px;
}

.copyright {
    font-size: .75rem;
    color:#AC3F21;
    padding: 20px 0;
}